# URL de base de l'API backend
# Emulateur Android : http://10.0.2.2:3000/api
# Simulateur iOS / Web / Desktop : http://localhost:3000/api
# Telephone physique : http://<IP_DE_VOTRE_PC>:3000/api
API_BASE_URL=http://10.0.2.2:3000/api
